<!doctype html>
<html class="no-js" lang="">
    % include('header.tpl', title='Welcome')
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a  href="/static/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p> Welcome </p>
        <div id="app" class="container-fluid">
            <div class="row">
                <ul class="col-xs-12" >
                    <template v-for="item in answers_404">
                        <li><a :href="item.obj.q_url" target="_blank"> ${ item.obj.q_url} </a></li>
                    </template>
                </ul>
            </div>
        </div>
        % include('footer.tpl')
        <script  src="/static/js/index.js"></script>
    </body>
</html>
