<!doctype html>
<html class="no-js" lang="">
    % include('header.tpl', title='Welcome')
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a  href="/static/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="login" v-if="modal_box">
            <vue-login-component></vue-login-component>
        </div>
        <div id="home" class="container">
            <div class = "page-header">
                <h1> Stack 404 <small>See 404's in your answers</small> </span> </h1>
            </div>
            <div class="row list-group">
                <template v-for="item in answers_404">
                    <a :href="item.obj.ques_url" class="list-group-item list-group-item-action" target=_blank>${ item.obj.ques_title}</a>
                </template>
            </div>
        </div>
        % include('footer.tpl')
        <script  src="/static/js/index.js"></script>
    </body>
</html>
