<!doctype html>
<html class="no-js" lang="">
    % include('header.tpl', title='Login to Continue')
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a  href="/static/http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-lg-6">
                    <button  id="login-button" class="btn btn-primary">Click to login</button>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>
        % include('footer.tpl')
        <script  src="/static/js/login.js"></script>
    </body>
</html>
